.panelContainer {
  width: 40vw;
  max-height: 40vh;
  margin-top: 5vh;
  box-shadow: 0 15px 10px rgb(35, 54, 66);
  border: none;
  border-radius: 5%;
  text-align: center;

  &:hover {
    cursor: pointer;
    // opacity: 0.2;
    // background-color: whitesmoke;
  }

  .panel {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 5%;
  }

  a {
    text-align: center;
    text-decoration: none;
  }

  a:hover {
    opacity: 0.2;
  }

  p {
    position: relative;
    bottom: 30vh;
    text-decoration: none;
  }
}
